*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    margin-top: 47px;
    margin-left: 42px;
    padding: 10px;
}
a{
    margin-right: 32px;
}
.button-sing{
    font-size: 17px;
    background-color: rgb(133, 217, 6) ;
    border-radius: 10px;
    color: #ffff;
    border: none;
    cursor: pointer;

}
.link-header{
    text-decoration: none;
    width: 79px;
    height: 21px;
    gap: 0px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;


}
div{
    display: inline-block;
    margin-left: 100px;
    width: 493px;
    
    
}
h1{
    
font-size: 62px;
font-weight: 700;
line-height: 82px;
letter-spacing: 0.5961538553237915px;
text-align: left;
color: black;



}
p{
    width: 493px;
    height: 99px;
    margin-top: 47px;
    margin-bottom: 55px;
    
    


}
button{
    width: 124px;
    height: 51px;
    border: none;
    background:none;
    line-height: 27px;
    color: greenyellow;
    cursor: pointer;
    
    
}
img{
    display: inline-block;
    width: 595px;
    height: 500px;
    margin-top: 100px;
    margin-left: 121px;
  
}
.main{
    text-align: right;
    
    
    
}

/*@media screen and ( max-width:720px){
    header{
        margin: center;
    }
    img{
        width: 350px;
        height: 300px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin: center;

    }
    
}*/

@media screen and ( max-width: 800px){
    a{
        display: none;
    }
    .button-sing{
       width: 91px;
       height: 31px;
       border-radius: 6px;
       position: absolute;
       top: 17px;
       right: 15px;       
       display: block;
       
    }
    main{
        
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }
    img{
        order: 1;
        display: block; /* Garante que a imagem ocupe uma linha separada */
        width: 70%; /* Ajusta a largura da imagem para 100% */
        height: auto; /* Mantém a proporção da imagem */
     margin: 0 auto;
     
    }
    div{
        margin: 0px auto; /* Centraliza e dá espaço em torno da div */
        max-width: 90%; 
        display: block;
        position: relative;
        text-align: center;
        margin-top: 30px;
       
    }
    h1 {
        font-size: 30px; /* Reduz o tamanho da fonte para telas pequenas */
        max-width:auto;
        max-height: 60px;
        text-align: center;
        line-height: 30px;
        
    }
    p {
        max-width: 100%;
        max-height: 165px ;
        font-size: 18px; /* Ajusta o tamanho do texto para o parágrafo */
        line-height: 33px;
        margin-top: 20px;
        text-align: center;
        
      
    }
    button {
        max-width: 112px;
        max-height: 27px;
        font-size: 16px; /* Ajusta o tamanho da fonte do botão */
        margin-top: 26px;
    }

}

